TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_KEY=
QBITTORRENT_BASE_URL=http://192.168.1.100:8080
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=
JELLYFIN_BASE_URL=http://192.168.1.100:8096
JELLYFIN_API_KEY=
DOWNLOADS_BASE_PATH=/downloads
TORRENT_BASE_URL=https://rargb.to/
