<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Torrent Downloader{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="top-bar">
    <h1><a href="{{ url_for('movies') }}?sort=popular">Media Downloader</a></h1>
    <div>
        <form action="{% block search_action %}{% endblock %}" method="GET" style="display: inline;">
            <input type="text" name="query" placeholder="{% block search_placeholder %}Search{% endblock %}" class="search-bar d-inline-block">
            <button type="submit" class="btn">Search</button>
        </form>
        <div class="dropdown">
            <button class="btn">Movies</button>
            <div class="dropdown-content">
                <a href="{{ url_for('movies') }}?sort=popular">Popular</a>
                <a href="{{ url_for('movies') }}?sort=top_rated">Top Rated</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn">TV Shows</button>
            <div class="dropdown-content">
                <a href="{{ url_for('home_tv') }}?sort=popular">Popular</a>
                <a href="{{ url_for('home_tv') }}?sort=top_rated">Top Rated</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
