{% extends "base.html" %}

{% block title %}Popular TV Shows{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tv_shows.css') }}">
<script src="{{ url_for('static', filename='js/tv_shows.js') }}"></script>
{% endblock %}

{% block search_action %}{{ url_for('search_tv_shows') }}{% endblock %}
{% block search_placeholder %}Search TV Shows{% endblock %}

{% block content %}
<h2 class="mt-4">TV Shows</h2>
<div class="row movie-grid mt-4">
    {% for show in shows %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 movie-item position-relative">
        <a href="{{ url_for('show_detail', show_id=show.id) }}">
            <img src="https://image.tmdb.org/t/p/w200{{ show.poster_path }}" alt="{{ show.name }}">
            <h5>{{ show.name }}</h5>
        </a>
        {% if show.id in session.get('tv_watchlist_ids', []) %}
        <span class="watchlist-icon" data-show-id="{{ show.id }}">
            <i class="fas fa-bookmark to-watch"></i>
        </span>
        {% else %}
        <span class="watchlist-icon" data-show-id="{{ show.id }}">
            <i class="far fa-bookmark not-watch"></i>
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% include "pagination.html" %}
{% endblock %}
